/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif;
    /* Define a fonte padrão */
    /* Cor de fundo da página */
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    justify-content: center;
    /* Centraliza os itens verticalmente */
    height: 100vh;
    /* Preenche a altura total da viewport */
    margin: 0;
    /* Remove a margem padrão */
    padding: 0;
    /* Remove o padding padrão */
    background-image: url(https://gradient.page/_next/image?url=%2Fcdn%2Fgreen-glory%2Fgreen-glory-003.jpg&w=1920&q=75);
    background-repeat: no-repeat;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 4rem;
    /* Tamanho da fonte */
    color: #ffffff;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
    letter-spacing: 0.4rem;
    /* Espaçamento entre letras */
}

/* Estiliza as seções da página */
section {
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    margin-bottom: 1rem;
    /* Espaçamento abaixo de cada seção */
}

/* Estiliza a cor do titulo h2 */
h2 {
    font-size: 1.5rem;
    /* Tamanho da fonte */
    color: #ffffff;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
    letter-spacing: 0.4rem;
    /* Espaçamento entre letras */

}

.input-container {
    display: flex;
    justify-content: center;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem;
    /* Largura dos inputs */
    border: none;
    /* Remove a borda padrão */
    padding: 1rem;
    /* Espaçamento interno */
    border-radius: 1.5rem;
    /* Borda arredondada */
    margin-bottom: 1rem;
    /* Espaçamento abaixo dos inputs */
    color: #000000;
    /* Cor do texto */
    font-size: 1rem;
    /* Tamanho da fonte */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    box-sizing: border-box;
    /* Inclui padding e border na largura total */
    text-align: center
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 8rem;
    /* Espaçamento interno do botão */
    border: none;
    /* Remove a borda padrão */
    border-radius: 5rem;
    /* Borda arredondada */
    background-color: #000000;
    /* Cor de fundo do botão */
    color: #F5F7F8;
    /* Cor do texto do botão */
    font-size: 1rem;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */

}


/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #00ff6a;
    /* Muda a cor de fundo ao passar o mouse */
    color: #000000;
    /* Cor ao passar o mouse */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.952);
    /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem;
    /* Largura máxima da caixa de resultados */
    height: 46vh;
    /* Altura máxima da caixa de resultados */
    overflow-y: auto;
    /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem;
    /* Espaçamento acima da caixa de resultados */
    padding: 1rem;
    /* Espaçamento interno */
    border-radius: 0.4rem;
    /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #ffffff;
    /* Cor de fundo dos itens */
    border-radius: 10rem;
    /* Borda arredondada */
    border: 2px solid #00000025;
    border-radius: 5px;
    padding: 1rem;
    /* Espaçamento interno */
    margin-bottom: 2rem;
    /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    /* Sombra leve */
    text-align: center;
    /* Alinha o texto ao centro */
    transition: transform 0.3s ease-in-out;
    /* Adiciona a transição de escala */

    &:hover {
        transform: scale(1.01);
    }
}

/* Adiciona efeito hover ao fundo dos resultados */
.item-resultado:hover {
    background-color: #ffffff;
    /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 255, 76, 0.952);
    /* Adiciona uma sombra mais intensa */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem;
    /* Tamanho da fonte */
    color: #ffffff;
    /* Cor do texto */


}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado {
    /* ... outros estilos ... */
    background-image: none;
    /* Inicialmente, sem imagem de fundo */

    &:hover {
        background-color: #00ff6a;
        /* Substitua por sua URL */

        background-size: cover;
        /* Ajuste o tamanho da imagem para cobrir todo o elemento */
        background-position: center;
        /* Centralize a imagem */
        cursor: pointer;
        /* Mude o cursor para indicar interação */
    }
}


/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #000000;
    margin: 0.5rem 0;
    text-align: center;
}

/* Estiliza o rodapé da página */


.social-icons {
    background-color: #00000000;
    list-style: none;
    display: flex; /* Transforma a lista em um container flexbox */
    flex-direction: row; /* Define a direção dos itens como linha */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    
    

  }
  
  .social-icons li {
    margin-right: 10px; /* Adiciona um espaçamento entre os ícones */
    

  }
/* Ocultando os botões de rolagem */
::-webkit-scrollbar {
    display: none;
}

/* Ocultando a barra de rolagem para Firefox */
* {
    scrollbar-width: none;
}

/* Ocultando a barra de rolagem para Internet Explorer e Edge */
::-ms-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem;
        /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem;
        /* Largura dos inputs em telas menores */
        padding: 0.8rem;
        /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem;
        /* Largura da caixa de resultados em telas menores */
        height: 40vh;
        /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem;
        /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem;
        /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem;
        /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem;
        /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem;
        /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem;
        /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%;
        /* Largura da caixa de resultados em telas pequenas */
        height: 50vh;
        /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem;
        /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem;
        /* Tamanho da fonte do rodapé em telas pequenas */
    }
}
